absl-py==1.3.0
astunparse==1.6.3
brotlipy==0.7.0
cachetools==5.2.0
certifi==2022.9.24
cffi @ file:///tmp/abs_98z5h56wf8/croots/recipe/cffi_1659598650955/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
conda==22.11.0
conda-package-handling @ file:///croot/conda-package-handling_1666940373510/work
cryptography @ file:///croot/cryptography_1665612644927/work
flatbuffers==22.11.23
gast==0.4.0
google-auth==2.15.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.1
h5py==3.7.0
idna @ file:///croot/idna_1666125576474/work
importlib-metadata==5.1.0
keras==2.11.0
libclang==14.0.6
Markdown==3.4.1
MarkupSafe==2.1.1
numpy==1.23.5
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==21.3
pluggy @ file:///tmp/build/80754af9/pluggy_1648024445381/work
protobuf==3.19.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat @ file:///croot/pycosat_1666805502580/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
requests @ file:///opt/conda/conda-bld/requests_1657734628632/work
requests-oauthlib==1.3.1
rsa==4.9
ruamel.yaml @ file:///opt/conda/conda-bld/ruamel.yaml_1664988522112/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1666302247304/work
six==1.16.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.28.0
termcolor==2.1.1
toolz @ file:///croot/toolz_1667464077321/work
tqdm @ file:///opt/conda/conda-bld/tqdm_1664392687731/work
typing_extensions==4.4.0
urllib3 @ file:///croot/urllib3_1666298941550/work
Werkzeug==2.2.2
wrapt==1.14.1
zipp==3.11.0
